h1{
    font-size: 32px;
    font-weight: 700;
}

 input:focus,
 textarea:focus,
 select:focus {
     outline: none;
 }

 input{
    width: 450px;
    border-radius: 14px;
    background-color: rgb(229 231 235 /1);
    padding: 12px 16px 12px 16px;
    display: block;
 }

/* Hide scrollbar for Chrome, Safari and Opera */
#chats-parent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chats-parent {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.input1{
    display: none;
}

.input2{
    display: none;
}

.input3{
    display: none;
}

input:invalid[focused="true"] + .input1{
    display: block;
}
input:invalid[focused="true"] + .input2{
    display: block;
}
input:invalid[focused="true"] + .input3{
    display: block;
}
 /* w-[450px] rounded-[14px] bg-gray-200 px-4 py-3 block' */